body {
  overflow-x: hidden;

}

.App {
  text-align: center;
}


.appContainer {
  width: 100vw;
  height: 100vh;
  background-color: rgb(27,27,27);
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/*fonts */


/*fonts*/
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

p {
  color: white;
  font-family: Montserrat;
  font-size: 20px;
}

h1 {
  color: rgb(58, 255, 205);
  font-family: coolvetica;
  font-size: 80px;
  font-weight: 400;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
